/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

#logout {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.btn-disabled {
	border: none;
	color: rgb(0, 0, 0);
	background: #cfcccc;
	outline: none;
	display: inline-block;
	text-decoration: none;
	padding: 15px 30px;
	font-weight: 600;
	text-align: center;
	line-height: 1;
	border-radius: 3px;
}

.booking .form-group .time-input-group {
	right: 16px;
}

.clearfix li .type-filter {
	display: flex;
	flex-direction: row;
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-right: 0;
	border-radius: 3px;
}

.type-filter a {
	font-weight: 600;
	padding: 10px 12px 8px 12px;
	font-size: 0.75rem;
	border-right: 1px solid rgba(0, 0, 0, 0.08);
	min-width: 70px;
	line-height: 1;
}

.type-filter a p {
	margin: 0;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}

.type-filter a p.checked {
	color: rgba(0, 0, 0, 0.9);
}